# Geral
COMPOSE_PROJECT_NAME=mycrew-ai
TZ=America/Sao_Paulo

# Ports
OLLAMA_PORT=11435
OPEN_WEBUI_PORT=3001
QDRANT_PORT=6333
N8N_PORT=5678
PORTAINER_PORT=9000
PORTAINER_SSL_PORT=9443
DOZZLE_PORT=8085
KUMA_PORT=3002
LITELLM_PORT=4000
ANYTHINGLLM_PORT=3003

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=trocar_essa_senha


OPEN_WEBUI_URL=http://localhost:3001
OPEN_WEBUI_TOKEN=trocar_essa_senha
OPEN_WEBUI_API_KEY=trocar_essa_senha
OPENWEBUI_AGENT_PREFIX=

# PostgreSQL para LiteLLM
POSTGRES_PORT=5433
POSTGRES_USER=litellm
POSTGRES_PASSWORD=litellm_password
POSTGRES_DB=litellm

# API Keys para LiteLLM AI Gateway
LITELLM_MASTER_KEY="sk-1234" # this is your master key for using the proxy server
UI_USERNAME=admin   # username to sign in on UI
UI_PASSWORD=admin        # password to sign in on UI
DOCS_URL="/docs"              # Set docs to a different path
ROOT_REDIRECT_URL="/ui"       # Redirect root path (/) to /ui
OPENAI_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
